#Index:
#  Background: Build  # Erzwingt vollständige Indexierung
#Diagnostics:
#  Suppress: false  # Mehr Diagnosen anzeigen
#CompileFlags:
#  Add: [-std=c++17]  # Passe an deine C++-Version an, falls relevant

#If:
#  PathMatch: .*\.(h|hpp)
#CompileFlags:
#  Add: [-xc++-header, -std=c++17]

---
# Higher warn level only for certain folders
#If:
#  PathMatch: \/main\/
#CompileFlags:
#  Add: [-Wall, -Wextra, -Wpedantic]

#---
# Exclude third-party-Code
# If:
#   PathMatch: '**/third_party/**'
#   PathExclude: '**/my_own_third_party/**'   # but include my own third-party code
# Diagnostics:
#   SuppressAll: true

#CompileFlags:
#  Add: 
#    - --target=xtensa
#    - -isystem
#    - /home/hjr/.espressif/tools/xtensa-esp-elf/xtensa-esp-elf/include
#  Remove: 
#    - -mlongcalls
#    - -fstrict-volatile-bitfields
#    - -fno-tree-switch-conversion

CompileFlags:
  # Use ESP-IDF compile_commands.json
  CompilationDatabase: build

  # Remove GCC/Xtensa flags clang cannot parse
  Remove:
    - -mlongcalls
    - -fstrict-volatile-bitfields
    - -fno-tree-switch-conversion
    - -fno-jump-tables
    - -fno-tree-loop-distribute-patterns
    - -mtext-section-literals
    - -fno-builtin-memcpy
    - -fno-builtin-memset
    - -fno-builtin-bzero
    - -fno-builtin-stpcpy
    - -fno-builtin-strncpy
    - -fno-builtin-strcpy
    - -fno-builtin-strlen

  Add:
    - -Wno-unknown-warning-option
    - -Wno-unused-command-line-argument
    - -nostdinc
    - -nostdinc++
    - -D__XTENSA__
    - -DESP_PLATFORM
    - -std=gnu++20
    - --target=xtensa-esp32-elf
    - -isystem
    - /home/hjr/.espressif/tools/xtensa-esp32-elf/esp-2021r2-patch3-8.4.0/xtensa-esp32-elf/xtensa-esp32-elf/include

Diagnostics:
  Suppress:
    - drv_unknown_argument
    - drv_unknown_argument_with_suggestion
    - pp_file_not_found
    - constexpr_var_requires_const_init
    - unknown-warning-option

Index:
  Background: Build

InlayHints:
  Enabled: Yes

QueryDriver:
  - /home/hjr/.espressif/tools/xtensa-esp32-elf/*/xtensa-esp32-elf/bin/xtensa-esp32-elf-*